



body {
    display: flex;
    
    font-family: Arial, Helvetica, sans-serif;
    
}


/* ***********Partie gauche*********** */
.partie_gauche{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: rgb(29, 32, 46);
}

.partie_gauche img{
    border: 2px solid sandybrown;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 160px;
    height: 180px;
}




.partie_gauche h2{
    margin-bottom: 2%;
}

.partie_gauche p{
    margin-top: 2%;
    margin-bottom: 2%;
}

.partie_gauche ul{
    list-style-type: none;
}

.partie_gauche div.conteneur_gauche{
    text-align: center;
    color: sandybrown;
    width: 100%;
    height: 100%;
}

.partie_gauche div.conteneur_gauche address{
    line-height: 150%;
    margin-bottom: 5%;
    margin-top: 2%;
    
}

.partie_gauche div.conteneur_gauche a{
    color: sandybrown;
}

.coordonnees{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
}
.coordonnees h2{
    border: 1px solid sandybrown;
    width: 60%;
    padding: 2%;
}

.profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    line-height: 150%;
}
.profil h2{
    padding: 2%;
    border: 1px solid sandybrown;
    width: 60%;
}

.profil ul{
    padding-left: 0px;
}

/* ***********Partie droite*********** */

.partie_droite{
    width: 80%;
    background-color: rgb(189, 188, 183);
}

a{
    color: black;
    text-decoration: none;

}

h2{
    margin-top: 5px;
}

.CV_pdf{
    text-align: center;
    background-color: rgb(45, 101, 146);
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: smaller;
    word-spacing: -10px;
    position: fixed;
    left: 20%;
    top:19.6%;
    border-radius: 0px 3px 3px 0px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    

}

.CV_pdf a{
    color: white;
}



.presentation{
    border-radius: 10px;
    background-color: rgb(241, 241, 233);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.349);
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.presentation:hover{
    background-color: rgb(95, 95, 84);
    color: white;
}

.formation{
    border-radius: 10px;
    background-color: rgb(241, 241, 233);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.349);
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    line-height: 150%;
}

.formation:hover{
    background-color: rgb(95, 95, 84);
    color: white;
}

.formation ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    
}

.formation li {
    font-size: medium;
}

.formation h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.formation h2{
    text-align: center;
}

.formation em {
    font-weight: 800;
}

.formation p{
    margin: 0px;
}

.formation a{
    font-weight: 800;
}

.experiences{
    border-radius: 10px;
    background-color: rgb(241, 241, 233);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.349);
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
}

.experiences:hover{
    background-color: rgb(95, 95, 84);
    color: white;
}

.experiences section{
    margin-right: 15%;
    margin-left: 15%;
}

.experiences h2{
    text-align: center;
}

.experiences h3, h4{
    margin-top: 0px;
    margin-bottom: 0px;
}

.experiences ul{
    margin-top: 0px;
    font-size: small;
}

.partie_droite div.conteneur_droite{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titre h1{
    border: 2px solid black;
    width: 30%;
    background-color: sandybrown;
    padding: 1%;
}


.titre_style{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: sandybrown;
    margin-bottom: 2%;
    
}
@media (801px<= width <= 1400px){
    .partie_gauche{
        font-size:11px;
        width: 170px;
    }

    .partie_gauche img{
        border: 2px solid sandybrown;
        margin-top: 8%;
        margin-bottom: 8%;
        width: 120px;
        height: 140px;
    }

    .coordonnees h2, .profil h2{
        width: 70%;
    }

    .partie_droite h1{
        font-size:30px;
        width: 60%;
    }
    .formation ul {
        margin-left: 3%;
        margin-right: 3%;
    }
    .formation li{
        font-size: 15px;
    }
    .presentation, .formation, .experiences{
        font-size: 15px;
        width: 70%;
    }

    .partie_droite section{
        margin-left: 3%;
        margin-right: 3%;
    }
    .partie_droite{
        overflow-y: auto;
    }
    .CV_pdf{
        width: 10px;
        font-size: 12px;
        top: 19%;
        left: 21%;
    }
}
@media (300px<= width <= 800px){

    .partie_gauche{
        font-size:9px;
        width: 150px;
    }
    .partie_gauche img{
        border: 2px solid sandybrown;
        margin-top: 8%;
        margin-bottom: 8%;
        width: 110px;
        height: 130px;
    }

    .coordonnees h2, .profil h2{
        width: 80%;
    }

    .partie_droite h1{
        font-size:20px;
        width: 70%;
    }
    .formation ul {
        margin-left: 3%;
        margin-right: 3%;
    }
    .formation li{
        font-size: 10px;
    }
    .presentation, .formation, .experiences{
        font-size: 10px;
        width: 65%;
    }

    .partie_droite section{
        margin-left: 3%;
        margin-right: 3%;
    }

    .partie_droite{
        overflow-y: auto;
    }

    .CV_pdf{
        width: 10px;
        font-size: 10px;
        top: 17%;
        left: 33%;
    }

}



